@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans&family=Handlee&family=Henny+Penny&family=JetBrains+Mono:ital@1&family=Nosifer&family=Passion+One&family=Poppins:ital,wght@1,200&family=Sriracha&family=Teko&display=swap');

*{  
    margin: 0px;
    padding: 0px;
}

html , body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    background-color: rgb(43, 255, 255);
}
header{ 
    background-color: black;
    color: white;
    text-align: center;
 
}
header h1{  
    font-family: 'Passion One';
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 7.5vw;
    
}
header p{   
    padding-bottom: 50px;
    padding-top: 6px;
    font-size: 1.7vw;
   
}

header a, footer a{  
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 1px;

}
header a:hover , footer a:hover{
    text-decoration: underline; 
}

section{    
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: 'Sriracha';
    font-size: 2vw;
    
    

}
section p{  
    padding-bottom: 2em;
}
section.normal{ 
    background-color: white;
    color: black;

}
section.imagem{ 
    
    background-color: rgb(79, 77, 77) ;
    color: whitesmoke;
    box-shadow: inset 5px 5px 10px 0px black ;
   
}
section.imagem p{   
    padding: 10px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.469);
    text-shadow: 2px 2px 4px black;
    background-size: cover;
}
section#imagem1{    
    background-image: url('imagens/background001.jpg');
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    
}
section#imagem2{    
    background-image: url('imagens/background002.jpg');
    background-size: cover;
    background-attachment: fixed;
}
    

footer{ 
    color: white;
    text-align: center;
    background-color: black;
    padding: 10px;
}
footer a:hover{ 
    color: rgb(22, 223, 22);

}